on:
  push:
    branches:
      - [main, feature/release-please]

permissions:
  contents: write
  pull-requests: write

name: Release Please
jobs: 
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: python
          token: ${{ secrets.GITHUB_TOKEN }}